.center {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-max {
	max-height: 400px;
}
.sixmargin {
	margin-top: 6px;
}
.jumbotron {
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
}

/*
COLLAPSING BUTTONS RELATED STYLE
*/
.collapser {
	color: black;
	cursor: pointer;
	margin: auto;
	text-align: left;
	width: 70%;
	padding: 32px;
	opacity: 85%;
}
.collapserContent {
	padding: 0 16px;
	max-height: 0;
	margin: auto;
	width: 70%;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: rgb(240, 240, 240);
}
.open, .collapser:hover {
	opacity: 100%;
	color: black;
}
.collapser:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}
.open:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}
.animator {
	background-image: url("projects/bannerpics/excellencebanner.jpg");
	background-color: rgba(33, 94, 248, 0.8);
}
.candyland {
	background-color: rgba(234, 40, 40, 0.8); 
}
.cuPaper {
	background-color: rgba(207, 184, 124, 0.8); 
}
.manville {
	background-color: rgba(29, 67, 173, 0.8); 
}
.marblesolitaire {
	background-color: rgba(100, 100, 100, 0.8);
}

/*
PROJECT SLIDESHOWS RELATED STYLE
*/
.projectSlide {
	display: none;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 24px;
	font-size: 12px;
	
}
.prev {
	left: 0;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: black;
}
.slideText {
	color: white;
	font-size: 12px;
	position: absolute;
}
